-if user_signed_in?
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item
          =link_to('Home', root_path, class: 'nav-link')
        %li.nav-item
          =link_to('Admin', admin_users_path, class: 'nav-link')
        %li.nav-item
          =link_to('Applications', oauth_applications_path, class: 'nav-link')
    %span.navbar-text
      =current_user.email
      =link_to('Logout', destroy_user_session_path, method: :delete)

