$font-size-base: 16px;

$color-primary: #0f7fb5;
$color-primary-darker: #0480b7;
$color-primary-lighter: #2ba6cb;
$color-secondary: #f37521;
$color-neutral: #6e6e6e;
$white: #fff;

$sms-ours: #e4e4e9;
$sms-theirs: #6cbe4d;
